@model List<Order>

@{
    ViewData["Title"] = "Заказы";
}
<h1>Заказы</h1>
<hr />
@if (Model.Count == 0)
{
    <div class="empty-order-list align-self-center">Заказов нет</div>
}
else
{
    @foreach (var order in Model)
    {
        <div class="card order" data-id="@order.Id">
            <div class="card-header">
                <div class="d-flex justify-content-between">                 
                    <div>Заказ №@order.Id</div>
                    <div>@order.OrderDate.ToShortDateString()</div>
                </div>
            </div>
            <div class="card-body">
                @foreach (var orderItem in order.OrderItems)
                {
                    <div class="d-flex justify-content-between">
                        <div>@orderItem.Product.Name (@orderItem.Quanity шт.)</div>
                        <div>@orderItem.Price</div>
                    </div>
                    <hr />
                }
                <div class="d-flex justify-content-between">
                    <h6 class="product-price card-subtitle mb-2 text-muted">@order.OrderStatus</h6>
                    <a href="#" class="cancel-order-btn" data-id="@order.Id">Отменить</a>
                </div>

            </div>
        </div>
    }
}

